#logo {
    height: 100px;
   border-radius:20px;
   object-fit: cover;
   width: 100%;

    
}

.logo{
    height: 100px;
    box-sizing: content-box;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 61%;
    align-items: center;
    
    
}

.button:hover {
    background-color:#F39530;
    transition: 0.7s;
}

.nav-background{
    background-color: linear-gradient(132deg, rgb(227, 244, 253) 0%, #84cae7 100%);
    filter: blur(1);
    box-shadow: rgb(0, 0, 0) 1px 1px 4px;
    position: sticky;
}

.buttonNav{
    top:50%;
    background-color:#004E67;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 4px;
   color: white;
   border-radius: 15px;
   border: none;
   padding: 8px;
    font-size: 30px;
    cursor: pointer;
    margin: 30px;
}