#logo {
    /* display: flex;
    align-self: flex-start; */
    height: 70px;
    
}

.logo{
    height: 7vh;
    box-sizing: content-box;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 61%;
    align-items: center;
    
}

/* #paths{
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
} */

.button:hover {
    background-color:#002ead;
    transition: 0.7s;
}
.nav-background{
  
    background: rgba(248,80,50,1);
    background: -moz-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(245,42,13,1) 53%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(241,111,92,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(53%, rgba(245,42,13,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(245,42,13,1) 53%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(245,42,13,1) 53%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(245,42,13,1) 53%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: linear-gradient(135deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(245,42,13,1) 53%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
    
}

.buttonNav{
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border-collapse: separate;
    border-radius:20px;
    font-size: 50px;
    cursor: pointer;
    
}