body {
    box-shadow: 3px blue;
}

.Emojis {
font-size: 100px ;
padding: 2px;
border: 2px solid black;

}

.Angry {
    color: red;
}

.Excited {
    color: goldenrod
}

.Happy {
    color: rgb(3, 242, 3);
}
.Meh {
    color: blue;
}
.Sad {
    color: lightskyblue;
}