/* body { */
    /* box-shadow: 3px blue;
    background: rgba(181,222,238,1);
    background: -moz-linear-gradient(-45deg, rgba(181,222,238,1) 27%, rgba(181,222,238,1) 31%, rgba(42,191,229,1) 56%, rgba(190,226,239,1) 82%, rgba(190,226,239,1) 97%);
    background: -webkit-gradient(left top, right bottom, color-stop(27%, rgba(181,222,238,1)), color-stop(31%, rgba(181,222,238,1)), color-stop(56%, rgba(42,191,229,1)), color-stop(82%, rgba(190,226,239,1)), color-stop(97%, rgba(190,226,239,1)));
    background: -webkit-linear-gradient(-45deg, rgba(181,222,238,1) 27%, rgba(181,222,238,1) 31%, rgba(42,191,229,1) 56%, rgba(190,226,239,1) 82%, rgba(190,226,239,1) 97%);
    background: -o-linear-gradient(-45deg, rgba(181,222,238,1) 27%, rgba(181,222,238,1) 31%, rgba(42,191,229,1) 56%, rgba(190,226,239,1) 82%, rgba(190,226,239,1) 97%);
    background: -ms-linear-gradient(-45deg, rgba(181,222,238,1) 27%, rgba(181,222,238,1) 31%, rgba(42,191,229,1) 56%, rgba(190,226,239,1) 82%, rgba(190,226,239,1) 97%);
    background: linear-gradient(135deg, rgba(181,222,238,1) 27%, rgba(181,222,238,1) 31%, rgba(42,191,229,1) 56%, rgba(190,226,239,1) 82%, rgba(190,226,239,1) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5deee', endColorstr='#bee2ef', GradientType=1 ); */
     
/* } */

.Emojis {
font-size: 100px ;
padding: 5px;
border: 2px solid black;
margin: 4px;
position: relative; 
    animation: 3s slidein;
  /*   background: blue;/ */
  }
  
  @keyframes slidein {
    0% {
      left:-2000px;
    }
    100% {
      left: 0;
    }


}

.Emojis:hover{
    /* background-color:#0b8b04; */
    box-shadow: 0px 10px 10px 10px rgba(248, 245, 245, 0.75);
    transition: 0.7s;
}

.angry {
    color: red;
    box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.75);
    cursor: pointer;

}

.excited {
    color: goldenrod;
    box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.75);
    cursor: pointer;

}

.happy {
    color: rgb(3, 242, 3);
    box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.75);
    cursor: pointer;


}
.meh {
    color: blue;
    box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.75);
    cursor: pointer;

}
.sad {
    /* color: lightskyblue; */
    color: rgb(195, 102, 248);
    box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.75);
    cursor: pointer;

}


    
  

textarea {
    width: 500px;
    height: 500px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    justify-content: center;
    padding-bottom: 10px;
}
.form-container{
    display: flex;
    justify-content: center;
    
}

form input, form textarea {
    width: 100%;
    box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.75);

}

#post {
    font-size: 30px;
    box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.75);
}

/* .jcontent{
    {animation-timing-function: ease-in;}
} */

.jcontent h1 {
    font-size: 50px;
    text-shadow: 3px 3px 2px rgba(199, 194, 208, 1);
    background: rgba(248,80,50,1);
background: -moz-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(245,42,13,1) 53%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(241,111,92,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(53%, rgba(245,42,13,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(245,42,13,1) 53%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(245,42,13,1) 53%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(245,42,13,1) 53%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
background: linear-gradient(135deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(245,42,13,1) 53%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
position: relative; 
    animation: 3s slidein;
  /*   background: blue;/ */
  }
  
  @keyframes slidein {
    0% {
      left:-2000px;
    }
    100% {
      left: 0;
    }
}