.container{
    display: flex;
    justify-content: space-evenly;
    /* justify-content: center; */
    margin: auto;
    padding: 0;
    grid-gap: auto;
    /* border: 1px solid black; */
}


.slogan{
    color: #004E67;
    text-shadow: white 1px 1px 1px;
    max-width: 900px;
    text-align: left;
    
    
}

.profilePic{
    border-radius: 50px;
}

.member-Welcome{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Bubblegum Sans', cursive;
    font-size: xxx-large;
    color: #004E67;
    text-shadow: #F39530 3px 1px 3px;
    /* border: 1px solid red; */
    width: 80vw;  
}

.Welcome{
    /* border: 1px solid black; */
    word-spacing: 20px;
   
    
    /* width: 90vw */
}
.quotes{
    /* font-family: 'Fascinate', cursive; */
    font-family: 'Hachi Maru Pop', cursive;
    font-size: xx-large;
    color: #004E67;
    text-shadow: white 1px 1px 1px;
    
}

.googleInfo{
margin: 2px;
/* padding-right: 60px; */
}