* {
    /* background: #84CAE7; */
  /* background-image: linear-gradient( 135deg,  #84CAE7 30%, #109648, #84CAE7 70%); */
  /* background-image: radial-gradient(circle 250px at 60% 30%, white, yellow, lightyellow, #84CAE7); */
  background: linear-gradient(132deg, rgb(227, 244, 253) 0.00%, #84CAE7 100.00%);
  background-attachment: fixed;
}

.container{
    display: flex;
    /* justify-content: center; */
    margin: auto;
    padding: 0;
    grid-gap: auto;
    /* border: 1px solid black; */
}


.slogan{
    color: #7B287D;
    text-shadow: gold 2px 2px 2px;
}

.profilePic{
    border-radius: 50px;
}

.member{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Bubblegum Sans', cursive;
    font-size: xxx-large;
    color: #F7CB15;
    text-shadow: #52489C 23px 1px 7px;
    /* border: 1px solid red; */
    width: 80vw;
    
    
}

.Welcome{
    /* border: 1px solid black; */
    word-spacing: 20px;
   
    
    /* width: 90vw */
}
.quotes{
    /* font-family: 'Fascinate', cursive; */
    font-family: 'Hachi Maru Pop', cursive;
    font-size: xx-large;
    color:#52489C;
    text-shadow:#F7CB15 5px 2px 3px;
    /* F0D3F7 */
}

