.App {
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #009DDC;
}
.intro{
  color: white;
  text-shadow: #009DDC 1px 1px 2px;
  font-family: 'Bubblegum Sans';
  font-size: xx-large;
  font-variant: small-caps;
}
