.App {
  text-align: center;
}
:root {
  background: linear-gradient(145deg, rgb(227, 244, 253) 0%, #84cae7 100%);
  /* background: #84CAE7; */
  background-attachment: fixed;
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  
}
.intro {
  color: white;
  text-shadow: #009ddc 1px 1px 2px;
  font-family: "Bubblegum Sans";
  font-size: x-large;
  font-variant: small-caps;
  display: flex;
  justify-content: center;
  
}

#Logo{
  height: 350px;
  width: 350px;
  border-radius: 45px;
}
